body {
    background-color: #2c3e50;
    font-family: 'Montserrat', sans-serif;
}

header h1 {
    color: #000000;
    font-size: 3em;
}

#address, #description, #weather, #today {
    color: #ecf0f1;
    font-size: 2em;
    margin-top: 1em;
}

#condition {
    margin: 0 auto;
    margin-top: 2em;
    width: 200px;
}

#deg {
    cursor: pointer;
    color: blue;
}